<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
}

.pageHeader{
  background-color: lightblue;
}
.navbar.navbar-expand-sm.bg-light.justify-content-left.col-sm-8{
  background-color: blue;
}
</style>

